node-red/flows.json
[{"id":"5ffcec7ff7ba60a6","type":"tab","label":"connect the light","disabled":false,"info":"","env":[]},{"id":"1b9182cc8fccdfc5","type":"tab","label":"input select themes","disabled":false,"info":"","env":[]},{"id":"9ac8d826e84d8c93","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"0ed139bff363b1a2","type":"tab","label":"light automation","disabled":false,"info":"","env":[]},{"id":"503fe79f.dd8838","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"82136dea.a6d7a","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"8c51b0bb.698c3","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"5d7dfb5fc8aeb753","type":"server-state-changed","z":"5ffcec7ff7ba60a6","name":"اذا طفيت نور السقف","server":"503fe79f.dd8838","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.smart_switch_lmb_sqf_switch_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":260,"wires":[["971ac4b3e9472d0c"],[]]},{"id":"35b67e2e3112cd69","type":"api-call-service","z":"5ffcec7ff7ba60a6","name":"شغل الثريا","server":"503fe79f.dd8838","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["28dc75a3df8aa313abe837018d4e050c","43227e9308d19fd96a9171acd668893c"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"brightness","propertyType":"msg","value":"","valueType":"str"}],"queue":"none","x":680,"y":200,"wires":[[]]},{"id":"9912e9d09f5227f4","type":"api-call-service","z":"5ffcec7ff7ba60a6","name":"طفي الثريا","server":"503fe79f.dd8838","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":["28dc75a3df8aa313abe837018d4e050c","43227e9308d19fd96a9171acd668893c"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":380,"wires":[[]]},{"id":"971ac4b3e9472d0c","type":"delay","z":"5ffcec7ff7ba60a6","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":340,"y":160,"wires":[[]]},{"id":"67f77c8b.68bf64","type":"server-state-changed","z":"1b9182cc8fccdfc5","name":"input Theme","server":"82136dea.a6d7a","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.themes","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":280,"wires":[["7af5c1af.bd9df"]]},{"id":"ca9ea279.a9188","type":"api-call-service","z":"1b9182cc8fccdfc5","name":"set Theme","server":"82136dea.a6d7a","version":5,"debugenabled":false,"domain":"frontend","service":"set_theme","areaId":[],"deviceId":[],"entityId":[],"data":"{\"name\":\"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":558,"y":280,"wires":[[]]},{"id":"7af5c1af.bd9df","type":"api-render-template","z":"1b9182cc8fccdfc5","name":"get Theme","server":"8c51b0bb.698c3","version":0,"template":"{{ states('input_select.themes') }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"payload","templateLocationType":"msg","x":390,"y":280,"wires":[["ca9ea279.a9188"]]},{"id":"6f66da1c.253e94","type":"inject","z":"1b9182cc8fccdfc5","name":"strat HassOS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"homeassistant.homeAssistant.isConnected","payloadType":"global","x":179,"y":328,"wires":[["519278ea.12c4a8"]],"l":false},{"id":"519278ea.12c4a8","type":"rbe","z":"1b9182cc8fccdfc5","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":227,"y":328,"wires":[["7084ac9d.6f9d54"]],"l":false},{"id":"7084ac9d.6f9d54","type":"switch","z":"1b9182cc8fccdfc5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":275,"y":328,"wires":[["7af5c1af.bd9df"]],"l":false},{"id":"97f6c7ca9ffce263","type":"server-state-changed","z":"9ac8d826e84d8c93","name":"pc on","server":"503fe79f.dd8838","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.coolermaster_pc","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":220,"wires":[["5997623d40724816"],["5d8b269cd4ef7769"]]},{"id":"5997623d40724816","type":"api-call-service","z":"9ac8d826e84d8c93","name":"on","server":"503fe79f.dd8838","version":5,"debugenabled":false,"domain":"wake_on_lan","service":"send_magic_packet","areaId":[],"deviceId":[],"entityId":[],"data":"turn_on_coolermaster_pc","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":180,"wires":[[]]},{"id":"5d8b269cd4ef7769","type":"api-call-service","z":"9ac8d826e84d8c93","name":"off","server":"503fe79f.dd8838","version":5,"debugenabled":false,"domain":"wake_on_lan","service":"send_magic_packet","areaId":[],"deviceId":[],"entityId":[],"data":"turn_off_coolermaster_pc","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":260,"wires":[[]]},{"id":"c8ffcfb3af027640","type":"api-call-service","z":"0ed139bff363b1a2","name":"Turn on the light","server":"503fe79f.dd8838","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["28dc75a3df8aa313abe837018d4e050c","43227e9308d19fd96a9171acd668893c"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"brightness","propertyType":"msg","value":"","valueType":"str"}],"queue":"first","x":800,"y":300,"wires":[[]]},{"id":"734b6648f9e9184c","type":"server-state-changed","z":"0ed139bff363b1a2","name":"door opend ?","server":"503fe79f.dd8838","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.mstsh_r_ltsl","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":270,"y":380,"wires":[["c8ffcfb3af027640"],[]]}]